

.wrapper {
    background-color: #337abc;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ab3535;
    text-align: center;
    font-size: 4em;
    margin-top: 0;
    padding-top: 50px;
}
/*     align-items: center;*/
.palindrome-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
.palindrome-div label {
    font-size: 2em;
    font-family: 'etna', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
}
.palindrome-div input {
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ab3535;
    width: 300px;
    text-align: center;
}
.palindrome-div button {
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ab3535;
    color: black;
    cursor: pointer;
    margin-top: 15px;
}